.border_video{
    width: 500px;
    height: 380px;
}
#canvas{
    position: absolute;
}

#download{
    margin: 0 auto;
}

#hidden{
    visibility: hidden;
}

#imgP{
    width: 500px;
    height: 380px;
}

#t_scroll{
    height: 230px;
    overflow: scroll;
}

#c_scroll{
    height: 500px;
    overflow: scroll;
}

#t_scroll img{
    max-width: 500px;
    max-height: 380px;
    display: inline;
}

.scroll{
    width: 100%;
    height: 100%;
    overflow: scroll;
}
  